# requirements.txt
#python==3.11
snowflake-snowpark-python
snowflake-connector-python
streamlit==1.31.1
import requests
fruityvice_response = requests.get("https://fruityvice.com/api/fruit/watermelon")
st.text(fruityvice_response)
